<div class="col post-side-component">
    <div class="post-components-inner">
        <div>
            <h3>Chat</h3>
            <div class="chatbox">
            </div>
            <hr>
            <div class="input-group">
                <input id="chatInput" class="form-control">
                <div class="input-group-append">
                    <button id="chatBtn" disabled class="btn btn-primary">
                        <i class="fas fa-paper-plane"></i>
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
  socket.on('connect', () => {
  fetch('/api/auth/me')
    .then((response) => {
      return response.json();
    })
    .then((me) => {
      console.log(me);
      $('#chatBtn').attr('disabled', false);
      $('#chatBtn').on('click', send);
      $('#chatInput').on('keydown', (e) => {
        if (e.key === 'Enter') {
          send();
        }
      });

      socket.on('disconnect', () => {
        console.error('Disconnected from socket!!');
        $('#chatBtn').attr('disabled', true);
        $('#chatBtn').off('click', send);
      });

      function send() {
        const message = $('#chatInput')
          .val();

        render({
          username: me.email,
          message
        });

        socket.emit('CHAT_MESSAGE', {
          username: me.email,
          message
        });

        $('#chatInput').val('');
      }
    });
  // const me = await response.json();



  socket.on('CHAT_MESSAGE', (message) => {
    console.log(message);
    render(message);
  });

    function render(message) {
      const html = `
        <div class="">
            <b>${message.username}</b>: "${message.message}"
        </div>
      `;
      $('.chatbox').append(html);
    }





  });
</script>

