    <div class="fixed-bottom">
        <div id="cookie-banner" class="invisible d-flex justify-content-center align-items-center m-2 p-2 bg-secondary">
            <i class="fas fa-cookie-bite mx-2"></i> This website only uses cookies necessary for operating.
            <button class="close mx-2">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class=" d-flex justify-content-center align-items-center p-4 bg-primary">
            <a class="text-white" href="/privacy">
                Privacy Policy
            </a>
        </div>
    </div>


    </body>
</html>

