<html lang="dk">
<head>
    <title>Blode | Nog</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <script src="/js/jquery.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/socket.io.js"></script>
    <script src="/js/chat.js"></script>
    <script src="https://kit.fontawesome.com/7bc581f92a.js" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/posts">Posts</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
        </ul>
        <div id="auth-buttons">
            <a href="/signup"><button class="btn btn-secondary mr-2">Signup</button></a>
            <a href="/login"><button class="btn btn-secondary mr-2">Login</button></a>
        </div>

        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit" id="searchButton">Search</button>
        </form>
    </div>
</nav>

<script>

  async function setup() {
    const loggedInResponse = await fetch('/api/auth/me', {
      method: 'GET'
    })

    const loggedIn = await loggedInResponse.json()

    console.log(loggedIn.email)

    if (loggedIn.email) {
      const selectButtonGroup = $('#auth-buttons');
      selectButtonGroup[0].children[0].style.display = 'none';
      selectButtonGroup[0].children[1].style.display = 'none';
      selectButtonGroup.append(`
        <a href="/api/auth/logout"><button class="btn btn-danger mr-2">Logout</button></a>
        <button class="btn btn-secondary mr-2" type="button"> Logged in as ${loggedIn.email} </button>
      `)
    }
  }
  setup()

</script>
