body {
    margin: 0;
    padding: 0;

    height: 100vh;
    width: 100%;

    /*display: flex;*/
    /*flex-direction: column;*/
}

:root {
    --primary-light: #9a67ea;
    --primary: #673ab7;
    --primary-dark: #320b86;

    --secondary-light: #ff9100;
    --secondary: #ffc246;
    --secondary-dark: #c56200;

    --primary-light-text: #000;
    --primary-text: #fff;
    --primary-dark-text: #fff;

    --secondary-light-text: #000;
    --secondary-text: #000;
    --secondary-dark-text: #000;
}

/** Post */

.post-container {
    flex-grow: 1;
    flex-basis: 0;
}

.post-side-component {
    padding: 10px;


}

#post {
    margin: 10px 0;
}

#post #header {
    text-align: center;
}

#post #description {
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1rem;
}

#post img {
    display: block;
    width: 50%;
    margin: 50px auto;
}

.post-components-inner {
    border: 1px solid #ccc;
    border-radius: 10px;
    position: sticky;
    top: 10px;
    padding: 10px;
}

/** Comments */

.comment {
    background: var(--primary);
    color: var(--primary-text);
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px 0;
    padding: 10px;
    width: 80%;
}

.comment h4 {
    font-size: 28px;
    color: var(--secondary);
}

.comment h5 {
    font-size: 16px;
}

/** Posts */

.posts {
    margin: 10px 0;
}

.posts .post {
    width: 80%;
    margin: auto;
}

.posts .post img {
    width: 20%;
}

/** Content */

#content-section .content-group {
    margin-bottom: 50px;
}

/** Chat */

.chatbox {
    max-height: 500px;
    overflow: auto;
}
