<div class="container">
    <div class="jumbotron">

        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description">
        </div>
        <div class="form-group">
            <label for="imageUrl">ImageUrl</label>
            <input type="text" class="form-control" id="imageUrl">
        </div>
        <div id="sections"></div>
        <button id="addSectionButton" class="btn btn-primary">Add New Section</button>
        <button id="submitButton" class="btn btn-primary">Add New Post</button>

    </div>
</div>
<script>

  $('#submitButton').click(async () => {

    const title = $('#title').val();
    const description = $('#description').val();
    const imageUrl = $('#imageUrl').val();
    let sections = []

    const loopAmount = $('#sections')[0].children.length

    for (i = 0; i < loopAmount; i++) {
      const sectionTitle = $(`section-${i}-header`).val()
      const sectionBody = $(`section-${i}-body`).val()
      sections.push(
        {
        sectionTitle,
        sectionBody
      }
      )
    }

    const data = {
      title,
      description,
      imageUrl,
      sections
    };

    await fetch("/api/posts", {
      method: 'POST',
      body: JSON.stringify(data),
      headers: {
        'Content-Type': 'application/json'
      }
    });

    location.href = '/'

  });

  let sectionIndex = 0

  $('#addSectionButton').click( () => {
     $('#sections').append(`
        <div class="new-section">
            <div class="form-group">
                <label for="section-${sectionIndex}-header">Section Header</label>
                <input type="text" class="form-control" id="section-${sectionIndex}-header">
            </div>
            <div class="form-group">
                <label for="section-${sectionIndex}-body">Section Body</label>
                <input type="text" class="form-control" id="section-${sectionIndex}-body">
            </div>
            <button id="delete-${sectionIndex}" class="btn btn-primary">X</button>
        </div>
    `)

    $(`#delete-${sectionIndex}`).click((e) => {
        e.target.previousElementSibling.remove()
        e.target.remove()
    })

    sectionIndex++
  })
</script>
