<div class="container-fluid post-container">
    <div class="row h-100">
        <div class="col post-side-component">
            <div class="post-components-inner">
                <h1>Header</h1>
                <p>Testo</p>
                <p>Testo</p>
                <p>Testo</p>
            </div>
        </div>
        <div class="col-7 post">

            <!-- Content for a single post goes here -->


        </div>
        <div class="col post-side-component h-25">
            <div class="h-100 post-components-inner"></div>
        </div>
    </div>
</div>
<script>

  async function setup() {
    const url = window.location.href.split('/');
    const id = url[url.length-1]
    const response = await fetch('/api/posts/' + id, {
      method: 'GET'
    });

    const post = await response.json();

    console.log(post)
  }
  setup()

</script>
